@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .text-primary{
    color: #d24726;
  }

  .bg-primary{
    background-color: #d24726;
  }

  .text-secondary{
    color: #f89444;
  }

  .bg-secondary{
    background-color: #f89444;
  }

  .login-btn{
    background-color: #f895443b;
    @apply py-2 px-4 rounded;
    @apply cursor-pointer;
    transition: 0.4s ease;
  }

  .login-btn:hover{
    background-color: #f8954473;
  }

  .signup{
    @apply font-semibold; 
    @apply bg-primary;
    @apply px-4; 
    @apply py-2; 
    @apply text-white; 
    @apply rounded;
    @apply cursor-pointer;
  }

  .menu-items{
    @apply cursor-pointer;
  }
  .menu-items:hover{
    @apply text-secondary;
  }